html {
    background-color: grey;
}
.box {
    margin: auto;
    width: 900px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: px;
    grid-gap: 10px;
}
.top {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr;
    grid-gap: 450px;
    height: 60px;
}
.back {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
h1 {
    background-color: whitesmoke;
    border: solid 1px;
    padding: 4px;
    margin: auto;
}
.nav {
    margin: 0px;
    margin-top: -220px;
    display: grid; 
    grid-template-columns: 0.8fr 1.4fr 0.6fr 1.4fr 0.6fr 1.4fr 0.8fr; 
    gap: 10px 2px; 
    grid-template-areas: 
      ". rc . u1 . otc ."
      "random-pictures random-pictures random-pictures od-week od-week od-week od-week"; 
}
.random-pictures { 
    grid-area: random-pictures;
}
.random-pictures{
    height: 400px;
}
.random-pictures > marquee > img {
    height: 400px;
}
.od-week { 
    height: 400px;
    grid-area: od-week; 
    object-fit: contain;
    background-color: rgba(255, 228, 196, 0.466);
}
.rc { 
    grid-area: rc; 
}
.u1 { 
    grid-area: u1; 
}
.otc { 
    grid-area: otc; 
}
.rc, .u1, .otc {
    font-size: 20px;
}
.disclaimer-box, .nav {
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}
.disclaimer-box {
    display: grid;
    row-gap: 3px;
    grid-template-rows: 0.5fr 1.5fr;
}
.disclaimer {
    margin: 0px;
    background-color: white;
    overflow: auto;
    height: 180px;
}
h2 {
    background-color: blue;
    color: white;
    margin: 0px;
    padding-left: 10px;
}
p {
    margin: 10px;
}
.warning {
    background-color: rgb(255, 217, 0);
    border-style: solid; 
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}